.nav-bar {
   display: flex;
   list-style: none;
   background-color: plum;
   align-items: center;
   justify-content: space-around;
   padding-right: 15px;
}
.navbar{
    justify-content: space-around;
}
.logo{
    font-size: 25px;
    align-items: center;
    font-weight: 100;
    color: red;
}
li a{
    color: yellow;
    font-size: 600;
    font-weight: bold;
   
}
button{
    background-color: rgb(237, 33, 33);
    margin-left: 10px;
    border-radius: 25px;
}
button a{
    color: blue;
    font-weight: bold;
}
body{
background-color: burlywood;
}
.img{
    width:px;
    height: 10px;
}
.grid-container{
    display: flex;
    border: solid;
    height: 300px;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: cadetblue;
    gap: 15px;px

}
.item-1{
    display: flex;
    border: solid;
    height: 150px;
}
.item-2{
    display: flex;
    border: solid;
    height: 138px
}
.item-3{
    display: flex;
    border: solid;
    height: 150px;
}
.item-4{
    display: flex;
    border: solid;
    height: 138px
}